.footer {
    background: linear-gradient(black, skyblue, black);
    color: gold;
    padding: 50px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex-basis: 30%;
  }
  
  h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: gold;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  