/*Partes generales con codigo necesario*/

@font-face {
    font-family: apple-basic;
    src: url(./fonts/YosemiteSanFranciscoFont-master/System\ San\ Francisco\ Display\ Bold.ttf);
    font-family: apple-normal;
    src: url(./fonts/YosemiteSanFranciscoFont-master/System\ San\ Francisco\ Display\ Regular.ttf);
    font-family: apple-thin;
    src: url(./fonts/YosemiteSanFranciscoFont-master/System\ San\ Francisco\ Display\ Ultralight.ttf);
}

/*al final de cada variable se indica a que afecta: nav, body, footer*/
:root {
    --enlaces-nav: #eceff1;
    --hover-enlaces-nav: #0eff4a;
    --letra-btn-contact-nav: #1b3039;
    --fondo-btn-contact-nav: #eceff1;
    --hover-letra-btn-nav: #005279;
    --hover-fondo-btn-nav: #0eb7ff;
    --main-color-body: #f0f0f0;
    --color-boton-body: #A9A9A9;
    --staff-bg-body: #ffffff;
    --proyecto-bg-body: #000000aa;
    --letra-footer: #ffffff;
}

body {
    background-color: var(--main-color-body);
}


/*Parte de Nick*/

.navbar {
    position: fixed;
    display: flex;
}

.header {
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98.2vw;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .nav-links {
    font-size: 1.2vw;
    font-family: sans-serif;
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: var(--enlaces-nav);
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: var(--hover-enlaces-nav);
}

.header .btn button {
    font-weight: 700;
    color: var(--letra-btn-contact-nav);
    padding: 9px 25px;
    background: var(--fondo-btn-contact-nav);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: var(--hover-letra-btn-nav);
    color: var(--hover-fondo-btn-nav);
    transform: scale(1.1);
}

/*Parte de Salamero*/
/*Body */
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Entrada de la pagina*/
.entrada {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/18/14/08/jetty-1834801_1280.jpg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 98vw;
    height: 100vh;
}

/*Titulo animado BIENVENIDA A LA PAGINA*/

.titulo {
    display: block;
    text-align: center;
    font-size: 7em;
    font-family: apple-thin;
    font-weight: 300;
    white-space: nowrap;
    border-right: 4px solid;
    margin-bottom: 17vw;
    background-color: #a9a9a954;
    width: 19ch;
    animation: typing 2s steps(21),
        blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}




/*Galeria de imagenes*/
.galeria_imagenes {
    display: flex;
    width: 80vw;
    height: 70vh;
}

.galeria_imagenes .img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .40;
    transition: .6s ease;
}

.galeria_imagenes .img:hover {
    cursor: cell;
    width: 60vw;
    opacity: 10;
}

/*first_line*/
.first_line {
    width: 100%;
}

/*titulo_section*/
.titulo_section {
    font-size: 3.5vw;
    font-family: apple-normal;
}

.titulo_slider {
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
    font-family: apple-normal;
}

/*about-us*/

.about-us {
    display: flex;
    flex-direction: column;
}

/* 
.about-us .left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.about-us .rigth {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.left {
    width: 40VW;
    height: 60vh;
    background-image: url(./media/6.png);
    background-size: cover;
    background-attachment: fixed;
}

.rigth {
    background-image: url(./media/6.png);
    background-size: cover;
    background-attachment: fixed;
    width: 40VW;
    height: 60vh;
} */
/*Trabajadores*/
.title_trabajadores {
    font-size: 5vw;
    font-family: apple-thin;
    text-align: center;
}

.trabajador1 {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: var(--staff-bg-body);
}

.trabajador2 {
    width: 80vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: var(--staff-bg-body);
}

.ahinoa {
    font-size: 2vw;
    font-family: apple-thin;
    font-weight: 600;
}

/*Parte proyecto */

.proyecto {
    width: 98.1vw;
    height: 20vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto_proyecto {
    text-align: center;
    font-family: apple-thin;
    color: white;
    display: block;
    font-size: 4em;
    font-family: apple-thin;
    white-space: nowrap;
    border-right: 4px solid;
    width: 15ch;
    animation: typing 2s steps(21),
        blink .5s infinite step-end alternate;
    overflow: hidden;

}

/*Enlace ubicacion solo para movil*/
.enlace_ubi {
    display: none;
}

/*Componentes extras*/
.trabajadores {
    display: flex;

}

.imagen_trabajadores {
    width: 20vw;
}


/*Media queries*/

@media (max-width: 1600px) {
    .titulo_entrada {
        font-size: 0.9vw;
    }

    .mapa {
        display: none;
    }

    .contenedor_enlace {
        background: linear-gradient(rgb(68, 11, 226), rgb(29, 106, 248), rgb(8, 158, 163));
        padding: 12%;
    }

    .enlace_ubi {
        display: block;
        color: rgb(0, 255, 221);
        text-decoration: none;
        font-family: apple-normal;
    }

    .foto2 {
        width: 25vw;
        height: 35vh;
    }

}

/*and (orientation: landscape)*/


/* Parte de Anayat */
.footer {
    background: linear-gradient(rgb(11, 62, 92), #1b3039, rgb(11, 62, 92));
    color: var(--letra-footer);
    padding: 50px 0;
    bottom: 0;
    width: 98vw;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex-basis: 30%;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 10px;
}

a {
    color: var(--letra-footer);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}