/*Parte de Nick*/

.navbar {
    position: fixed;
    display: flex;
}

.header {
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98.2vw;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .nav-links {
    font-size: 1.2vw;
    font-family: sans-serif;
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: var(--enlaces-nav);
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: var(--hover-enlaces-nav);
}

.header .btn button {
    font-weight: 700;
    color: var(--letra-btn-contact-nav);
    padding: 9px 25px;
    background: var(--fondo-btn-contact-nav);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: var(--hover-letra-btn-nav);
    color: var(--hover-fondo-btn-nav);
    transform: scale(1.1);
}